@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Manrope&family=Nunito+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: unset;
    font-family:'Nunito Sans', sans-serif;
    /* -webkit-tap-highlight-color: transparent; */
  }
html,
body{
  height: 100%;
  position: relative;
  overflow-x: hidden;

}
.container{
  margin-right: auto;
  margin-left: auto;
  
}
.navBar{
  z-index: 12;
  position: fixed;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 8%;
  padding-left: 8%;

 
}
.modal-content{
  border-radius: 15px;
  Width:85%;
  margin-right: auto;
  margin-left: auto;
  height: auto;
}
.modalForm{
  color:#FFB341;
  box-sizing: border-box;
  width: 100%;
}
.modal-title{
  font-weight:bolder;
  color: #090C16;
  text-align: left;
  font-family:'Nunito Sans', sans-serif;
  margin: 10px;
}
nav .navBar{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}
.logo{
    max-width: 100% !important;
}

nav .downloadBrochure, .downloadBrochure2{
    padding: 5px 35px;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    background: #4D30C7;
    border: none;
    color: #ffffff;
    border-radius: 5px;
}
.downloadBrochure2{
  padding: 0px 49px;
  font-size: 14px;
  line-height: 40px;
  position: relative;
  justify-content: end;
}
.dbrochures{
    padding: 13.5px 24px;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    background:#EE9C21;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    /* outline: none; */
}
.dbrochure{
  padding: 13.5px 32px;
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  background:#EE9C21;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  /* outline: none; */
}
.las{
  font-size: 28px;
  margin-right: 30px;
  margin-left: 11px;
  padding-top: 10px;
  position: absolute;
  left: 10px;
  top: 1px;
}
 
.masterClass{
  max-width: 100%;
  padding-top: 250px;
  padding-bottom: 280px;
  background-color: #E5E5E5;
  position: relative;
  
}
.newWrap{
  position: relative;
 
}
.details{
  /* width: 100%; */
  position: relative;
  margin-right: 5%;
  margin-left: 5%;
 
}
/* .anim{
  transition: transform .5s; /* Animation */

/* .anim:hover{
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

@media screen and (max-width:600px) {
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
  }
  .navBar .logo{
   width: 50% !important;
   margin-right: 4%;
   margin-left: 2%;
  }
 .command{
  /* padding-bottom: 50px; */
  margin-bottom: 20px;
  }
  .navBar{
   overflow: visible;
   padding-right: 6%;
   padding-left: 0;
  }
 .masterClass{
   padding-top: 150px;
   padding-bottom: 0;
  }
  .spanBrochure{
    line-height: 50px;
  }
}
.contactSupport{
    position: relative;
    padding: 13.5px 24px 13.5px 35px;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    background:#FFFFFF;
    color:#4A23B9;
    border-radius: 5px;
    border:1px solid #4A23B9;
    margin: 0px 4px;
    outline: none;
     
}
.contactSupport img{
    position: absolute;
    left: 4%;
    right: 0.45%;
    top: 25%;
    bottom: 0%;

/* background: #4A23B9; */
}
@media screen and (max-width:600px) {
  .contactSupport{
    padding: 10.5px 30px 10.5px 30px;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 12px;
  }
  .contactSupport img{
    display: none;
  }
  .dbrochures{
    padding: 10.5px 21px 10.5px 21px;
    font-size: 12px;

  }
}
.details h3{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    /* identical to box height, or 143% */
    letter-spacing: 0.2px;
    color: #1C1F2C;
}
.details h4 span{
    
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800 bolder;
    font-size: 48px;
    line-height: 84px;
    /* or 114% */
    letter-spacing: 0.2px;
    color: #25067C;
    box-sizing: border-box;

}
.details h4{
    color: #F1A128;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 84px;
    /* or 114% */
    letter-spacing: 0.2px;
}
.details text{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    /* or 143% */
    letter-spacing: 0.2px;
    color: #1C1F2C;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 24px 0px;
}

.cardd{
  /* display: none; */
    position: absolute;
    z-index: 1;
    background-color:#4D30C7;
    color: #FFFFFF;
    border-radius: 20px;
    width: 34%;
    /* left: 820px; */
    top: 23%;
    right: -50px;
    padding-left: 7%;
    padding-right: 5%;
    text-align: left;
    padding-bottom: 50px;
    height: 371px;

}
.cardd h3{
    padding-top: 30px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 50px;
    align-items: center;
    text-align:center;
    color: #FFFFFF;

}

.cardd p{
    width: 100%;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    flex: 1;

}
.cardd .find{
  width: 100%;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}
.cardd .desc{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.smilePic img{
  transition: transform .5s; /* Animation */
}
.smilePic img:hover{
  transform: scale(0.9); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

@media screen and (max-width:600px) {
  .details h3{
    font-size: 18px;
    line-height: 35px;
  }
  .details h4 span{
    font-size: 44px;
    line-height: 54px;
  }
  .details h4{
    font-size: 44px;
    line-height: 54px ;
  }
  .cardd{
    position: relative;
    height: 300px;
    width: 100%;
    top: 0;
    left: 0;
    /* margin-top: 50px; */
    border-radius: unset;
    
  }

  .smilePic{
    display: none;
  }
  .cardd h3{
    padding-top: 20px;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
  }
  .cardd p{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align:justify;
  }
  .cardd .desc{
    display:grid;
    flex-direction: row;
  }
  .dbrochure{
    padding: 10px 38px;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    margin-right: 10%;
    margin-left: 14%;
    outline: none;
  }
  .cardd .find{
    padding-bottom: 10px;
  }

  .details .imgLady{
    display: none;
  }
  .group{
    display:none;
  }
  .over{
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .cardd{
    right: -10px;
    padding-right: 20px;
    padding-left: 35px;
  }

  .cardd h3 {
    font-size: 22px;
  }

  .desc {
    padding-top: 30px;
  
}
}


@media only screen and (max-width: 1104px) {
  .cardd{
    right: -10px;
    padding-right: 20px;
    padding-left: 35px;
  }

  .cardd h3 {
    font-size: 22px;
  }
  .desc {
    padding-top: 30px;
  
}
}


@media only screen and (max-width: 1200px) {
  .cardd{
    right: -10px;
    padding-right: 20px;
    padding-left: 35px;
  }

  .cardd h3 {
    font-size: 22px;
  }
  .desc {
    padding-top: 30px;
  
}
}


@media only screen and (max-width: 1280px) {
  .cardd{
    right: -10px;
    padding-right: 20px;
    padding-left: 35px;
  }

  .cardd h3 {
    font-size: 22px;
  }
  .desc {
    padding-top: 30px;
  
}
}


@media only screen and (max-width: 1366px) {
  .cardd{
    right: -20px;
  }
  .desc {
    padding-top: 30px;
  
}
}

.wrapper{
  /* position: absolute; */
  background: url("/images/Frame\ 86.png") no-repeat center center /cover;
  /* max-width: 100%; */
  height: 347px;
  /* left: 18%; */
  /* top: 60%; */
}
@media only screen and (max-width: 1200px){

  .smilePic img{
    
    left: 8%;
    
  }
}
.desc>div{
  flex: 1 0 50%;
}
.desc>div:second-child{
  flex: 0 1 50%;
}

.details .imgLady{
    padding: 10px;
    position: absolute;
    /* left: 0;
    right: 0; */
    margin-left: auto;
    margin-right: auto;
    left: 400px;
    top: 360px;
    /* Width: 327.01px;
    Height:84.09px; */
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(37px);
}
.beginners{
    color: #F1A128;
}
.over{
    padding-top: 12px;
    padding-left: 10px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    /* line-height: 40px; */
    /* identical to box height, or 222% */
    letter-spacing: 0.2px;
    color: #1C1F2C;
}
.nextCohort{
  position: relative;
}

.nextCohort .imgText{
    background: #d1cbeb;
    display: flex;
    font-weight: bold;
    padding-left: 50px;
    padding-top: 70px;
    color: #000;
   
}
.nextCohort .imgText2{
  background: #e2ccab;
}
.imgText2 img{
  position: absolute;
  left: 10px;
  top: -140px;
}

.cbrochure{
  margin-bottom: 40px;
  margin-top: 100px;
  padding: 11.5px 28px;
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  background:#EE9C21;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  outline: none;
  margin-right: 30px;

}
.cohort{
  flex: 1;
}
.cohort p{
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}
.cohort h2{
    font-family: Nunito Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}

.alph{
    display:flex;
}
.alph .a{
    position: static;
    /* width: 482px; */
    height: 11px;
    left: 482px;
    top: 0px;
    background: #7B61FF;
    /* Inside auto layout */
    flex: 1;
    /* order: 1;
    flex-grow: 0;
    margin: 0px 0px; */
}
.alph .b{
    position: static;
    /* width: 482px; */
    height: 11px;
    left: 0px;
    top: 0px;
    background: #FF9A00;
    /* Inside auto layout */
    flex: 1;
    /* order: 0;
    flex-grow: 0;
    margin: 0px 0px; */
}
.alph .c{
    position: static;
    /* width: 482px; */
    height: 11px;
    left: 0px;
    top: 0px;
    background:#000000;
    /* Inside auto layout */
    flex: 1;
    /* order: 0;
    flex-grow: 0;
    margin: 0px 0px; */
}
.testify{
  padding-top: 50px;
  /* padding-bottom: 100px; */
}
.card-text{
  margin-top:139px
}
.card-body {
  padding: 6rem  0 0;
}
.test .testify{
    /* background-color: blue; */
    background: linear-gradient(44.71deg, #4A23B9 2.16%, #3302BE 86.32%);
    color: #ffffff;
    padding-left: 8%;
    padding-right: 8%;
}
.test .testify h1{
  padding-top: 20px;
  color: #fff;
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
}

.testify p{
  /* font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px; */

}

.inlat {
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
}
.test .testify .abouttestify{
  /* padding-top: 107px; */
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  /* letter-spacing: 0.20000000298023224px; */
  text-align: left;
  max-width:fit-content;
  /* padding-right: 70px;
  padding-bottom: 0px; */
  margin: 32% auto
    
}
.imgBox{
  background: url("./images/testimony\ pic.png") no-repeat top center /contain;
 
  height: 300px;
}
.imgText2 img{
  transition: transform .5s; /* Animation */
}
.imgText2 img:hover{
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
@media screen and (max-width:600px) {
  .inlat {
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
  }
  .nextCohort .imgText{
    display: grid;
  }
  .imgBox{
    background: url("./images/testimony\ pic.png") no-repeat top center /contain;
   
    height: 300%;
  }
  .cbrochure{
  margin-bottom: 40px;
  margin-top: 10px;
  padding: 11.5px 28px;
  font-family: Nunito Sans;
  font-size: 14px;

  }
  .cohort{
    flex: 0;
  }
  .imgText2 img{
    display: none;
  }

  .cohort p{
    padding-top: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }
  .testify img{
    max-width: 100%;
  }
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    /* padding-bottom: 20px; */
  }
  .test .testify .abouttestify{
    padding-top: 180px;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.20000000298023224px;
    line-break: auto;
    text-align: center;
    padding-right: 0px;
    
  }
  .cardBody{
    padding-left: 0;
    padding-right: 0;
    max-width: 100% !important;
  }
  hr{
    background-color: #fff;
    color: #FF9A00;
  }

}

.footer-section {
    background-color: #090C16;
    padding: 50px 50px 150px 50px;
}
  
.footer-image p {
    font-family: "Nunito Sans", cursive;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #D6D6D6;
    margin-top: 20px;
}
  
.footer-explore h3 {
    font-family: "Nunito Sans", cursive;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}
  
.footer-explore p {
    font-family: "Nunito Sans", cursive;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #D6D6D6;
}

.footer-course p {
  font-family: "Nunito Sans", cursive;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #D6D6D6;
}

.footer-about h3 {
  font-family: "Nunito Sans", cursive;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: #D6D6D6;
}

.footer-about p {
  font-family: "Nunito Sans", cursive;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #D6D6D6;
}
  
@media screen and (max-width: 600px) {
 
  .footer-content {
    flex-direction: column;
  }

  .footer-image {
    text-align: center;
  }

  .footer-image p {
    text-align:center;
  }

  .footer-social-link {
    display: flex;
    justify-content: center;
    margin: 0px auto; 

  }

  .footer-explore h3 {
    text-align: center;
    margin-top: 20px;
  }

  .footer-explore p {
    text-align: center;
  }

  .footer-course p {
    text-align: center;
    margin-top: 30px;
  }

  .footer-about h3 {
    text-align: center;
    margin-top: 30px;
  }

  .footer-about p {
    text-align: center;
  }
  .footer-section {
    background-color: #090C16;
    padding: 50px 50px 150px 20px;
  }
}
.sub-footer {
  width: 300px;
  border-radius: 0px;
  padding: 10px;
  background-image: linear-gradient(to right, #3F64F7, #5319B2);
}

.sub-footer p {
  font-family: "Nunito Sans", cursive;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  text-align: center;
  margin: 3% auto;
}

.footer-extend {
  position: relative;
}

.sub-footer {
  position: absolute;
  bottom: 0;
}
  
.footer-extend{
  position: relative;
}


form{
  width:600px;
  padding: 20px;
}
.command{
  padding: 0px;
  margin-bottom: 20px;
}
.form-control{
  margin-bottom: 20px;
  padding: 30px 20px;
  background: none;
  color: #fff;
  box-shadow: none !important;
  outline: none !important;
  
}
.form-control:focus, .form-control:active, .form-control:hover {
  background: none;
  color: #fff;
  border-color: none;
  outline: none;
  border-color: #ffffff;
}



.modal-content{
  border-radius: 15px;
  Width:85%;
  margin-right: auto;
  margin-left: auto;
  height: auto;
}
.modalForm{
  color:#FFB341;
  box-sizing: border-box;
  width: 100%;
}

.modal-title{
  font-weight:bolder;
  color: #090C16;
  text-align: left;
  font-family:'Nunito Sans', sans-serif;
  margin: 10px;
}

.formControl,
.formControl:hover,
.form-control:focus{
  width: 100%;
  border: 2px solid #FFB341;
  border-radius: 10px;
  color: #000;

}

.SaveChange {
  background: linear-gradient(225.55deg, #FFB341 -11.25%, #DF8806 79.43%);
  outline: none;
  border: none;
  padding: 10px 70px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  border-radius: 5px;

  /* margin-left:10% !important;
  margin-right: 10% !important; */
}


@media screen and (max-width: 600px) {
  .modal-title {
    font-size: 16px;
  }
  .SaveChange{
    font-size: 16px;
    line-height: 30px;
    padding: 10px 21px;
  }

}

@media (min-width: 576px){
  .modal-dialog {
    max-width: 488px;
    margin: 1.75rem auto;
  }

}

@media screen and (max-width: 900px) {
  .smilePic{
    display:none;
  }
  .group{
    display: none;
  }
  .over{
    display:none;
  }
  .beginners{
    display:none;
  }
  .imgLady{
    display: none;
  }
}
  
.panel-title[aria-expanded="true"]::after {
  content: "\f106";
}

/* #accordionExample #headingOne .card .card-header .btn-link .collapsed:after{
  content: “\f106”;
} */
    
  
  
  